 <center>
<h3>This project is for educational purposes only</h3>
<h3>and any logos used are property of those companies</h3>		
<p>Code last edited 12/18/21</p>
<p>Working 02/2/22</>

<%= link_to 'home', root_path %>

</center>
